/* css styles */
.navbar-dark,{
  background-color: #7502b8;
  color: white;
}

.quarto-title-banner {
  background-image: url('profile.png');
  background-size: cover;
  background-position: center;
  height: 250px;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7); /* Slight black shadow */
}

